body{
  background-color: powderblue;
}
p{
  margin-top: 30px;
  text-align: center;
  font-size: 35px;
}
p.controles{
  margin-top: 5px;
  text-align: center;
  font-size: 18px;
}
button{
  margin-left: 350px;
}
#display {
  background-color: black;
  margin-left: 250px;
  margin-top: 30px;
}
